* {
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
ion-app {
  width: 1000px;
  height: 620px;
}
ion-grid {
  background: #fdfbed;
}

ion-col {
  text-align: center;
}
ion-icon {
  color: red;
}
.align {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.right {
  font-size: 45px;
  text-align: right;
}
.left {
  font-size: 40px;
  text-align: left;
}
.round {
  color: red;
  font-size: 70px;
}
p {
  font-size: 30px;
}
img {
  width: 200px;
  height: 200px;
}
.Current-score2 {
  background: red;
  width: 160px;
}
.current {
  background: red;
}
