* {
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
ion-app {
  width: 100%;
  height: 100%;
  border: 5px solid brown;
}
ion-grid {
  background: #fdfbed;
  border: 1px solid green;
}

ion-col {
  color: black;
  text-align: center;
  border: 1px solid green;
}

ion-icon {
  color: red;
}
.align {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.right {
  font-size: 45px;
  text-align: right;
}
.left {
  font-size: 40px;
  text-align: left;
}
.round {
  color: red;
  font-size: 70px;
}
p {
  font-size: 20px;
}
img {
  width: 200px;
  height: 200px;
}
.current {
  width: 150px;
  margin: 0px auto;
  background: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.playerDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player1play,
#player2play {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: red;
  border-radius: 50%;
}

/* @media screen and (min-width:360px){

} */
